[Unit]
Description=Google Drive (rclone)
AssertPathIsDirectory=%h/Documents/Google
# Make sure we have network enabled
After=network.target

[Service]
Type=simple

ExecStart=/usr/bin/rclone mount GoogleDrive: %h/Documents/Google --vfs-cache-mode full --log-level INFO --log-file %h/.logs/rclone.log

# Perform lazy unmount
ExecStop=/usr/bin/fusermount -zu %h/Documents/Google

# Restart the service whenever rclone exists with non-zero exit code
Restart=on-failure
RestartSec=15

[Install]
# Autostart after reboot
WantedBy=default.target
